@page
@model AboutUsModel
@{
    ViewData["Title"] = "AboutUs page";
}

<div class="text-center">
    <h1 class="display-4">AboutUs</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <h2> Name </h2>
    <p> Aditya Bangar </p>
</div>