@page
@model ProductsModel
@{
    ViewData["Title"] = "Products page";
}

<div class="text-center">
    <h1 class="display-4">Products for sale</h1>
    
    <h2> Products </h2>
    <ol>
       <li> Rose  </li>
       <li> Auster </li>
       <li> Jasmine </li>
       <li> Lily </li>
    </ol>
</div>