@{
    ViewData["Title"] = "Product Details Page";
}

<div class="text-center">
    <h1 class="display-4">Product Details</h1>
    <hr/>
    <p>Title : Gerbera  </p>
    <p>Description : Wedding flower </p>
    <p>Unit Price : 5 Rs  </p>
    <p>Quantity : 4000  </p>
    <p>Likes : 5000 </P>
</div>