@{
    ViewData["Title"] = "ContactUs";
}

<div class="text-center">
    <h1 class="display-4">ContactUs</h1>
    <p>@ViewBag.product.Title</p>
    <p>@ViewBag.website</p>
    <p>@ViewBag.school</p>
    <p>@ViewBag.age</p>
</div>
