@page
@model BlogRazorApp.Pages.LoginModel
@{
    ViewData["Title"] = "Login Page";
}


<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Transflower Learning Private Limited</p>

</div>
