@{
    ViewData["Title"] = "AboutUs Page";
}

<div class="text-center">
    <h1 class="display-4">AboutUs</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<p> Name : Pragati </p>
<p> At post pimpalgaon khadaki </p>