@{
    ViewData["Title"] = "Book Page";
}

<div class="text-center">
    <h1 class="display-4">Book</h1>
    <h2> Book name </h2>
    <ol>
    <li> Marathi </li>
    <li> Hindi </li>
    <li> English </li>
    <li> Chemistry </li>
    </ol>
</div>